body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #280046, #601cfc);
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #fff;
}
.title1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.projects {
    background-color: #601cfc;
    padding: 20px;
}

.projects .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: #333;
}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #601cfc;
}

@media (max-width: 768px) {
    .title1 {
        font-size: 1.6em;
    }
    .projects .content {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 95%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .title1 {
        font-size: 1.4em;
    }
}
